* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

body {
    background-color: black;
}

.float-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

